
<link href="~/lib/layui-v2.5.5/layui/css/layui.css" rel="stylesheet" />
<link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
@model  WebUI.Models.Users
@using (Html.BeginForm())
{
    <form class="layui-form" action="" style="width:100%;margin-left:2%;margin-top:2%;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>人员信息修改</legend>
        </fieldset>
        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">姓名:</label>
                    <div class="col-xs-8">
                        <input type="text" id="UsersName" name="UsersName" value="@Model.UsersName" required="" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">账号:</label>
                    <div class="col-xs-8">
                        <input type="text" id="UsersNo" name="UsersNo" value="@Model.UsersNo" required="" readonly="readonly" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>


        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">角色:</label>
                    <div class="col-xs-8">
                        <input type="hidden" id="juese" readonly="readonly" value="@Model.Types" required="" autocomplete="on" class="form-control" />
                        <select name="Types" id="selectJS" class="form-control" required="">
                            <option value="">请选择注册身份</option>
                            <option value="教务处">教务处</option>
                            <option value="教师">教师</option>
                            <option value="家长">家长</option>
                            <option value="学生">学生</option>

                        </select>
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">性别:</label>
                    <div class="col-xs-8">
                        <input type="text" id="Sex" name="Sex" value="@Model.Sex" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">出生日期:</label>
                    <div class="col-xs-8">
                        <input type="text" id="Birthday" value="@Model.Birthday" name="Birthday" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">所属班级:</label>
                    <div class="col-xs-8">
                        <input type="text" id="ClassInfo" name="ClassInfo" value="@Model.ClassInfo" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">联系电话:</label>
                    <div class="col-xs-8">
                        <input type="text" id="Tel" name="Tel" value="@Model.Tel" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="">地址:</label>
                    <div class="col-xs-8">
                        <input type="text" id="Address" name="Address" value="@Model.Address" autocomplete="on" class="form-control" />
                    </div>
                    <label class="control-label" style="color: red">*</label>
                </div>
            </div>
        </div>

        <div id="daoshi">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="">学历层次:</label>
                        <div class="col-xs-8">
                            <input type="text" id="XL" name="XL" value="@Model.XL" autocomplete="on" class="form-control" />
                        </div>
                        <label class="control-label" style="color: red">*</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="">职称:</label>
                        <div class="col-xs-8">
                            <input type="text" id="ZC" name="ZC" value="@Model.ZC" autocomplete="on" class="form-control" />
                        </div>
                        <label class="control-label" style="color: red">*</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="">任职科目:</label>
                        <div class="col-xs-8">
                            <input type="text" id="RZKM" name="RZKM" value="@Model.RZKM" autocomplete="on" class="form-control" />
                        </div>
                        <label class="control-label" style="color: red">*</label>
                    </div>
                </div>

            </div>


        </div>
        <div class="row" style="margin-left:40%;margin-top:2%;">
            <button class="layui-btn " id="btnSubmit" type="submit"> 确定</button>
            <button class="layui-btn" id="fanhui">返回</button>
        </div>
    </form>
}

<script src="~/lib/js/jquery-3.3.1.min.js"></script>
<script src="~/lib/layui-v2.5.5/layui/layui.js"></script>
<script src="~/lib/layui-v2.5.5/layui/lay/modules/laypage.js"></script>
<script>
    $("#selectJS").val($("#juese").val());
</script>




